.face{
    width:400px;
    height:400px;
    background-color:bisque ;
    border-radius: 50%;
    top:300px;
}
.mouth{
    width: 200px;
    height:75px;
    background-color: lightcoral;
    border-radius:0 0 50px 50px;
    position:absolute;
    top:250px;left:110px;
}
.left-eye, .right-eye{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color: grey;
    display:inline-block;
    position:absolute;
}
.left-eye{
    top:100px;
    left:100px;
}
.right-eye{
    top:100px;
    left:250px;
}